#DashboardCont {
  width: 100%;
  #DashboardWrap {
    display: flex;
    height: 100%;
    > #c1 {
      flex: 2;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      > div {
        display: flex;
      }
      > #r2 {
        display: flex;
        width: 100%;
        height: 100%;
        flex: 2;
        // margin-bottom: 10px;
        > * {
          flex: 1;
          height: 100%;
        }
      }
    }
    > #c2 {
      display: flex;
      flex-direction: column;
      flex: 2;
      > #c3 {
        flex: 1;
        display: flex;
        flex-direction: row;
      }
      > #c6 {
        flex: 2;
      }
    }
  }
}
