#DashboardCont {
  width: 100%;
  #DashboardWrap {
    display: flex;
    height: 100%;
    > #c1 {
      flex: 2;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      
      > #MapCont {
        height:100%;
        width:100%;
      }
    }
    > #c2 {
      display: flex;
      flex-direction: column;
      flex: 2;
      > #r1 {
        flex: 1;
        display: flex;
        flex-direction: row;
        >* {
          width:100%;
          flex:1;
           img {
            height:150px;
          }
        }
      }
      > #r2 {
        flex: 2;
      }
    }
  }
}
