#DashboardCont {
  width: 100%;
  > #c1 {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    > * {
      margin-top: 10px;
    }
    > * > * {
      margin-left: 10px;
    }
    > div {
      display: flex;
    }
    > #r1 {
      display: flex;
      flex: 1;
      width: 100%;
      > * {
        flex: 4;
        height: 100%;
        background-color: white;
      }
    }
    > #r2 {
      display: flex;
      width: 100%;
      height: 100%;
      flex: 2;
      margin-bottom: 10px;
      > * {
        flex: 1;
        height: 100%;
      }
    }
  }
}
