#HistoryCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  #historyWrap {
    display: flex;
    height: 100%;
    width: 100%;
    > #MappingCont {
      flex: 2;
    }
    > #LogCont {
      flex: 1;
    }
  }
}
