#LogCont {
  height: 100%;
  width: 100%;

  > .el-card__body {
    display: flex;
    justify-content: center;
    height: 100%;
    > #history {
      margin-top: 15px;
      > .radio {
        margin: 25px;
      }
    }
  }
}
