#LostCont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  #lostWrap {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    margin-left: 80px;
    > * {
      margin-right: 80px;
      .time {
        font-size: 13px;
        color: #999;
      }
      .image {
        width: 100%;
        display: block;
      }
      .clearfix:before,
      .clearfix:after {
        display: table;
        content: "";
      }

      .clearfix:after {
        clear: both;
      }
    }
  }
}
