$map_size_y: 700px;
$map_size_x: 700px;
#MapCont {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  .el-card__body {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100%;
    .mapWrap {
      margin-top: 5rem;
    }
    .map {
      position: relative;
      width: 500px;
      height: 500px;
      // > * {
      // transition: all 0.2s linear;
      // }
      transform: scale(1.2);

      > .robot {
        position: absolute;
        transform-origin: (250px, -250px);
        bottom: 0;
      }
    }
    // .map:hover {
    // transform: scale(1.4);
    // }
    // .mapImg {
    //   height: 500px;
    //   width: 500px;
    //   border: 1px solid black;
    // }
  }
}
