$map_size_y: 700px;
$map_size_x: 700px;
#MapCont {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  .el-card__body {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100%;
    .mapWrap {
      margin-top: 5rem;
    }
    .map {
      position: relative;
      width: 500px;
      height: 500px;
    }
    // .map img {
    //   transition: all 0.2s linear;s
    // }
    // .map:hover img {
    //   transform: scale(1.4);
    // }
    .mapImg {
      height: 500px;
      width: 500px;
      border: 1px solid black;
    }
    .robot {
      position: absolute;
      bottom: 0;
    }
  }
}
