$map_size_y: 700px;
$map_size_x: 700px;
#MapView {
  #map {
    position: relative;
  }
  #mapImg {
    // height: 500px;
    // width: 500px;
    border: 1px solid black;
  }
  #robot {
    position: absolute;
    bottom: 0;
    // top: 0;
  }
}
