#Sidebar {
  background-color: #f5f5dc;
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  > .el-card {
    height: 100%;
    width: 100%;
    > .el-card__body {
      height: 100%;
      width: 100%;
    }
  }
}
